.container {
  padding: 3rem 5rem;
  /* background-color: var(--color-primary-2);
  color: var(--main-bg); */
}
.container > :nth-child(1) {
  border-radius: 1rem !important;
  overflow: hidden !important;
  /* background-color: var(--color-primary-2);
  color: var(--main-bg); */
}
.MuiTableRow-root,
.MuiTableCell-root {
  border: none !important;
}
