.header {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.container {
  margin-bottom: 5rem;
}

@media (min-width: 75em) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
  }
}
