.header {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.container {
  margin-bottom: 5rem;
}
/* .title {
  text-transform: uppercase;
} */
