:root {
  --main-bg: #ffffff;
  --secondary-bg: #caf0f8;
  --color-primary: #03045e;
  --color-primary-2: #023e8a;
  --color-secondary: #0077b6;
  --color-tertiary: #fb8500;
  --color-tertiary-2: #000000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
}

main {
  width: 100%;
  padding: 0 1.5rem;
}
